Data Models Specifications/Online_EndOfDay_Other.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:mstns="https://www.gamingcommission.gov.gr" elementFormDefault="qualified" targetNamespace="https://www.gamingcommission.gov.gr" version="1.0" xpathDefaultNamespace="https://www.gamingcommission.gov.gr" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\CommonElements.xsd" />
    <xs:element name="Batch">
        <xs:annotation>
            <xs:documentation>Συχνότητα καταγραφής στο SAFE / Frequency:
(1) Ημερήσια. Στο τέλος της Παικτικής Ημέρας.
(1) Daily. At the end of the Gaming Day.

(2) Εντός δεκαέξι (16) ημερών από το τέλος κάθε ημερολογιακού μήνα, όλες οι ημερήσιες εγγραφές του μήνα αναφοράς οριστικοποιούνται.
(2) Within sixteen (16) days from the end of the previous calendar month all daily records are finalised.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchHeader" type="mstns:BatchHeader" />
                <xs:element name="Online_EndOfDay_Other" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RecordID" type="mstns:RecordID" />
                            <xs:choice>
                                <xs:element name="CancelledRecordData">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="CancelledRecordID" type="mstns:RecordID" />
                                            <xs:element name="CancelledRecordDate" type="mstns:dateTimeUTC" />
                                            <xs:element name="CancelledRecordReason" type="mstns:LongString" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="ReplacedRecordID" type="mstns:RecordID" minOccurs="0" />
                                    <xs:element name="ReportDate" type="mstns:dateTimeUTC">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Ημέρα Αναφοράς:                                        
Η ημερομηνία και ώρα έναρξης της Παικτικής Ημέρας (UTC)

Report Day:
The start date and time of a Gaming Day (UTC).
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ReportCreationDate" type="mstns:dateTimeUTC">
                                        <xs:annotation>
                                            <xs:documentation>Ημερομηνία Δημιουργίας Αναφοράς:
Η ημερομηνία και η ώρα που δημιουργήθηκε η αναφορά (UTC).

End of Day Report Creation Date:
Date and time that the report was created (UTC).</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Currency" type="mstns:Currency" />
                                    <xs:element name="TotalCustomerAccountBalance" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Υπόλοιπο Λογαριασμών Παικτών:
Το άθροισμα των υπολοίπων των Ηλεκτρονικών Λογαριασμών Παικτών στο σύστημα του Κατόχου Άδειας, την ημέρα αναφοράς.

Sum of Players Accounts Balances:
The sum of Players' (customers) accounts balances, within the reporting day.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalPlayerBankAccountBalance" type="mstns:MonetaryAmount" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Υπόλοιπο Τραπεζικού Λογαριασμού Παικτών:
Το υπόλοιπο του τραπεζικού λογαριασμού Παικτών που τηρεί ο Κάτοχος Άδειας, την ημέρα αναφοράς.

Players' Bank Account Balance:
The Players' bank account balance, at the end of the reporting day.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNetAmountGameSessions" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Καθαρό Κερδηθέν Ποσό:
Το συνολικό καθαρό ποσό που κερδήθηκε από τους Παίκτες στις συνεδρίες παιγνίων, την ημερομηνία αναφοράς:
(1) Παίγνια που διεξάγονται σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
(2) Παίγνια που το αποτέλεσμα των οποίων εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
(3) Παίγνια που διεξάγονται διομότιμα (peer to peer), σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
(4) Παίγνια που διεξάγονται διομότιμα (peer to peer) και αυτοτελώς (πχ. Πόκερ cash games).
 Στο ποσό αυτό ΔΕΝ συμπεριλαμβάνεται το συνολικό ποσό των παρακρατούμενων φόρων και το συνολικό ποσό των μη επιστρεφόμενων επιβραβεύσεων (bonus amounts), εάν υφίστανται. Σε αυτό το ποσό συμπεριλαμβάνονται τυχόν ποσά που αντιστοιχούν σε κέρδη από Λειτουργίες Jackpot.

Total Net Amount Won:
The total net amount won by the Players, in game sessions, within the reporting date, excluding withholding tax amounts and non cashable bonus amounts, if any:
(1) Casino games, poker and/or variants thereon, played live, in a studio, with a live dealer and whose outcome is not generated by a Random Number Generator.
(2) Casino games, poker and/or variants thereon, whose outcome is generated by a Random Number Generator.
(3) Peer to peer games, live, in a studio, with a live dealer and whose output is not extracted by a Random Number Generator.
(4) Peer to peer games (eg. poker cash games).
Jackpot wins are also reported in this field.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountGameSessionsWithholdingTax" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Ποσό Παρακρατούμενου Φόρου:
Το συνολικό ποσό του παρακρατούμενου φόρου, επί των ποσών που κερδήθηκαν από τους Παίκτες για τις κάτωθι κατηγορίες παιγνίων που διεξάγονται με συνεδρίες, την ημέρα αναφοράς:
(1) Παίγνια που διεξάγονται σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
(2) Παίγνια που το αποτέλεσμα των οποίων εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
(3) Παίγνια που διεξάγονται διομότιμα (peer to peer), σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
(4) Παίγνια που διεξάγονται διομότιμα (peer to peer) και αυτοτελώς (πχ. Πόκερ cash games).

Total Withholding Tax Amount:
The total withholding tax amount related to the amounts won by the Players, in taxation sessions, within the reporting day for the following game categories:
(1) Casino games, poker and/or variants thereon, played live, in a studio, with a live dealer and whose outcome is not generated by a Random Number Generator.
(2) Casino games, poker and/or variants thereon, whose outcome is generated by a Random Number Generator.
(3) Peer to peer games, live, in a studio, with a live dealer and whose output is not extracted by a Random Number Generator.
(4) Peer to peer games (eg. poker cash games).
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberTaxationSessions" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>
                                       Πλήθος Φορολογικών Συνεδριών :
Το πλήθος των φορολογικών συνεδριών (TaxationSessionIDs) που εκκαθαρίστηκαν την ημέρα αναφοράς.

Total Number of Taxation Sessions:
The total number of taxation sessions (TaxationSessionIDs) processed within the reporting day.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberPlayersWon" type="mstns:NumberOfPlayers">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Πλήθος Παικτών στους οποίους αποδόθηκαν κέρδη:
                                                Tο πλήθος των Παικτών στους οποίους αποδόθηκαν κέρδη, την ημέρα αναφοράς.
                                                
                                                Total Number of Winning Players :
                                                The total number of Players that won at least one bet, within the reporting day.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberBonus" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Επιβραβεύσεων:
Το πλήθος των επιβραβεύσεων, που δόθηκαν στους Παίκτες, την ημέρα αναφοράς.

Total Number of Bonuses:
The total number of bonuses given to Players, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberSelfExclusions" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Πλήθος Αυτό-αποκλεισμών:
Το συνολικό πλήθος των αυτοαποκλεισμών, που πραγματοποιήθηκαν την ημέρα αναφοράς.

Total Number of Self Exclusions:
The total number of Players' self exclusions, within the reporting day.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberExclusionsLicensee" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Αποκλεισμών Κατόχου Άδειας:
Το πλήθος των αποκλεισμών Παικτών από τον Κάτοχο Άδειας, που πραγματοποιήθηκαν την ημέρα αναφοράς.

Total Number of Licensee Exclusions:
The total number of Players' exclusions, initiated by the Licensee, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberExclusionsHGC" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Αυτοαποκλεισμών ΕΕΕΠ:
Το πλήθος των αποκλεισμών Παικτών από την Ε.Ε.Ε.Π., που πραγματοποιήθηκαν την ημέρα αναφοράς.

Total Number of HGC Exclusions:
The total number of Players' exclusions, initiated by HGC, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberTimeLimits" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Χρονικών Ορίων Παικτικής Δραστηριότητας:
Το πλήθος των χρονικών Ορίων Παικτικής Δραστηριότητας, που δημιουργήθηκαν/ μεταβλήθηκαν, την ημέρα αναφοράς.

Total Number of Time Limits :
The total number of time limits created/changed, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberTimeLimitsExceeded" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Υπερβάσεων Χρονικών Ορίων Παικτικής Δραστηριότητας:
Το πλήθος των υπερβάσεων χρονικών Ορίων Παικτικής Δραστηριότητας, που πραγματοποιήθηκαν, την ημέρα αναφοράς.

Total Number of Time Limits Exceeded:
The total number of exceeded time limits, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberDepositLimits" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Καταθετικών Ορίων Παικτικής Δραστηριότητας:
Το πλήθος των καταθετικών Ορίων Παικτικής Δραστηριότητας, που δημιουργήθηκαν/ μεταβλήθηκαν, την ημέρα αναφοράς.

Total Number of Deposit Limits :
The total number of deposit limits created/changed, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberDepositLimitsExceeded" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Υπερβάσεων Καταθετικών Ορίων Παικτικής Δραστηριότητας:
Το πλήθος των υπερβάσεων καταθετικών Ορίων Παικτικής Δραστηριότητας, που πραγματοποιήθηκαν, την ημέρα αναφοράς.

Total Number of Deposit Limits Exceeded:
The total number of exceeded deposit limits, within the reporting day.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberLossLimits" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Ορίων Παικτικής Δραστηριότητας Απώλειας Χρημάτων:
Το πλήθος των Ορίων Παικτικής Δραστηριότητας απώλειας χρημάτων, που δημιουργήθηκαν/ μεταβλήθηκαν, την ημέρα αναφοράς.

Total Number of Loss Limits :
The total number of loss limits created/changed, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberLossLimitsExceeded" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Υπερβάσεων Ορίων Παικτικής Δραστηριότητας Απώλειας Χρημάτων:
Το πλήθος των υπερβάσεων Ορίων Παικτικής Δραστηριότητας απώλειας χρημάτων, που πραγματοποιήθηκαν, την ημέρα αναφοράς.

Total Number of Loss Limits Exceeded:
The total number of exceeded loss limits, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                        <xs:assert test="if (not(exists(CancelledRecordData))) then (ReportDate le ReportCreationDate) else if (exists(CancelledRecordData)) then (not(exists(ReportDate)) and not(exists(ReportCreationDate))) else false()" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueRecord">
            <xs:selector xpath="mstns:Online_EndOfDay_Other" />
            <xs:field xpath="mstns:RecordID" />
        </xs:unique>
    </xs:element>
</xs:schema>