Data Models Specifications/Online_Poker_Tournament_Start.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:mstns="https://www.gamingcommission.gov.gr" elementFormDefault="qualified" targetNamespace="https://www.gamingcommission.gov.gr" version="1.0" xpathDefaultNamespace="https://www.gamingcommission.gov.gr" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\CommonElements.xsd" />
    <xs:element name="Batch">
        <xs:annotation>
            <xs:documentation>Συχνότητα καταγραφής στο SAFE / Frequency:
(1) Όποτε προστίθενται νέα Τουρνουά Πόκερ.
(1) Whenever new Poker Tournaments are added.

(2) Όποτε υπάρχουν αλλαγές σε Τουρνουά Πόκερ.
(2) Whenever information regarding Poker Tournaments, changes

Σχόλια / Comments:
(1) Αναφορικά με το διομότιμο (peer to peer) Παίγνιο Πόκερ, το Bad Beat καταγράφεται ως Jackpot.
(1) Regarding peer to peer Poker Games, the Bad Beat is considered Jackpot.
</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchHeader" type="mstns:BatchHeader" />
                <xs:element name="Online_Poker_Tournament_Start" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RecordID" type="mstns:RecordID" />
                            <xs:choice>
                                <xs:element name="CancelledRecordData">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="CancelledRecordID" type="mstns:RecordID" />
                                            <xs:element name="CancelledRecordDate" type="mstns:dateTimeUTC" />
                                            <xs:element name="CancelledRecordReason" type="mstns:LongString" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="ReplacedRecordID" type="mstns:RecordID" minOccurs="0" />
                                    <xs:element name="ManufacturerLN" type="mstns:CollapsedGenericID">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Αριθμός Μητρώου Κατασκευαστή:
Ο μοναδικός κωδικός πιστοποίησης του Κατασκευαστή, στην πλατφόρμα του οποίου διεξάγεται το Παίγνιο. Ο κωδικός πιστοποίησης αποδίδεται από την Ε.Ε.Ε.Π.. Στην περίπτωση που η πλατφόρμα ανήκει στον Κάτοχο Άδειας συμπληρώνεται ο αριθμός πιστοποίησης του Κατόχου Άδειας, ο οποίος αποδίδεται από την Ε.Ε.Ε.Π..

Manufacturer License Number:
The unique certification number of the Manufacturer of the gaming platform on which the game is conducted. The license number is provided by HGC. If the gaming platform is owned by the Licensee, the HGC's license number is provided.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="NetworkIndicator" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Δείκτης Διεξαγωγής Παιγνίου:
Ο δείκτης ο οποίος επισημαίνει κατά πόσο ένα Παίγνιο διεξάγεται, είτε α) σε κλειστό δίκτυο (συμμετέχουν σε αυτό αποκλειστικά Παίκτες από Κατόχους Άδειας, αδειοδοτημένους στην Ελληνική Επικράτεια), είτε β) σε ανοικτό δίκτυο (συμμετέχουν σε αυτό και Παίκτες από  αδειοδοτημένους  παρόχους, άλλων Ρυθμιστικών Αρχών, σύμφωνα με σχετικές οδηγίες της Ε.Ε.Ε.Π.).
Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(false) = Κλειστό δίκτυο
(true) = Ανοικτό δίκτυο

Network Indicator:
Indication of whether a game is played either a) at a closed network (participants are players only from Licensees licensed by the Greek State), or, at an open network, (participants are players both from Licensees licensed by the Greek State and Licensees licensed by other jurisdictions, according to HGC guidelines).
Values are granted by HGC. Allowed values:
(false) = Closed network
(true) = Open network
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="PTGame">
                                        <xs:annotation>
                                            <xs:documentation>
                                       Παίγνια Τουρνουά Πόκερ:
Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Texas Hold'em
(2) = Omaha
(3) = Five Card Draw
(4) = Razz
(5) = 7Card Stud
(6) = Spin &amp; Go
(7) = Caribbean Stud Poker
(0) = Άλλο

Poker Tournament Games:
Values are granted by HGC. Allowed values:
(1) = Texas Hold'em
(2) = Omaha
(3) = Five Card Draw
(4) = Razz
(5) = 7Card Stud
(6) = Spin and Go
(7) = Caribbean Stud Poker
(0) = Other 
                                    </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:enumeration value="0" />
                                                <xs:enumeration value="1" />
                                                <xs:enumeration value="2" />
                                                <xs:enumeration value="3" />
                                                <xs:enumeration value="4" />
                                                <xs:enumeration value="5" />
                                                <xs:enumeration value="6" />
                                                <xs:enumeration value="7" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PTType">
                                        <xs:annotation>
                                            <xs:documentation>Τύπος Τουρνουά Πόκερ:
Ο τύπος του Τουρνουά Πόκερ (π.χ.: Τουρνουά Bounty Bubble Rush, Χρωματικό σχήμα Fifty50, Εγγυημένα Τουρνουά, Τουρνουά Heads-Up, Hyper-Turbo, κ.λπ.). Οι τιμές καθορίζονται από τον Κάτοχο Άδειας.

Poker Tournament Type:
The Poker Tournament type (e.g.: Bounty Bubble Rush Tournament, Fifty50, Heads-Up, Hyper-Turbo, etc.). Values are granted by the Licensee.</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="50" />
                                                <xs:whiteSpace value="collapse" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PokerTournamentData">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="PokerTournamentID" type="mstns:PokerTournamentID" />
                                                <xs:element name="PTTitle" type="mstns:LongString">
                                                    <xs:annotation>
                                                        <xs:documentation>Τίτλος Τουρνουά Πόκερ:
Η ονομασία του Τουρνουά Πόκερ στα συστήματα του Κατόχου Άδειας.

Poker Tournament Title:
The title of the Poker Tournament in the Licensee systems.  </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="PTCommonID" type="mstns:GenericID" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Κοινός κωδικός τουρνουά σε Δίκτυο:
Ο μοναδικός κωδικός τουρνουά που σε περίπτωση συν διοργάνωσης οφείλουν να χρησιμοποιούν όλοι οι Κάτοχοι Άδειας.
(εάν υφίσταται)
 
Poker Tournament Common Identifier in a Network:
The unique Poker Tournament identifier in a network that all Licensees must use.
(if applicable)          </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="PTStartDate" type="mstns:dateTimeUTC">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Έναρξης Τουρνουά Πόκερ:
Η ημερομηνία και ώρα έναρξης του Τουρνουά Πόκερ στα συστήματα του Κατόχου Άδειας (UTC).

Poker Tournament Start Date:
Date and time the Poker Tournament started in the Licensee's systems (UTC).   </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="PTEstimatedEndDate" type="mstns:dateTimeUTC" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                   Εκτιμώμενη Ημερομηνία Λήξης Τουρνουά Πόκερ:
Η εκτιμώμενη ημερομηνία και ώρα λήξης του Τουρνουά Πόκερ στα συστήματα του Κατόχου Άδειας (UTC).

Estimated Poker Tournament End Date:
Estimated End Date and time of the Poker Tournament in the Licensee's systems (UTC).
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:assert test="if (exists(PTEstimatedEndDate)) then (PTStartDate lt PTEstimatedEndDate) else if (not(exists(PTEstimatedEndDate))) then true() else false() " />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="DomainName" type="mstns:DomainName" />
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueRecord">
            <xs:selector xpath="mstns:Online_Poker_Tournament_Start" />
            <xs:field xpath="mstns:RecordID" />
        </xs:unique>
    </xs:element>
</xs:schema>