Data Models Specifications/Online_EndOfDay_PtP_Games.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:mstns="https://www.gamingcommission.gov.gr" elementFormDefault="qualified" targetNamespace="https://www.gamingcommission.gov.gr" version="1.0" xpathDefaultNamespace="https://www.gamingcommission.gov.gr" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\CommonElements.xsd" />
    <xs:element name="Batch">
        <xs:annotation>
            <xs:documentation>Συχνότητα καταγραφής στο SAFE / Frequency:
(1) Ημερήσια. Στο τέλος της Παικτικής Ημέρας.
(1) Daily. At the end of the Gaming Day.

Σχόλια / Comments:
(1) Μία συνεδρία παιγνίου, θα καταγραφεί στην αναφορά της ημέρας που εκκαθαρίζεται η φορολογική συνεδρία στην οποία ανήκει.
(1) A game session will be recorded in the report of the day that the related taxation session is processed.

(2) Αναφορικά με το διομότιμο (peer to peer) Παίγνιο Πόκερ, το Bad Beat καταγράφεται ως Jackpot.
(2) Regarding peer to peer Poker Games, the Bad Beat is considered Jackpot.

(3) Στα Παίγνια που διεξάγονται με παικτικές συνεδρίες, η φορολόγηση των κερδών των Παικτών (συμπεριλαμβανομένων και των Jackpots) γίνεται κατά τη λήξη της παικτικής συνεδρίας. Τα σχετικά με τη φορολόγηση παικτών δεδομένα ενσωματώνονται στο μοντέλο δεδομένων "TaxationSessions",  ενώ ο φόρος Παικτών ανά Παικτική Ημέρα ενσωματώνεται στο μοντέλο δεδομένων "EndOfDayOther".
(3) In Games played in sessions, Player's tax is calculated at the end of Player's session. The amount taxed includes both Player's winnings and Jackpots. The relevant data are submitted using the data model entitled "TaxationSessions", while Players' taxes, every reporting day, are submitted using the "EndOfDayOther" data model.
            
(4) Εντός δεκαέξι (16) ημερών από το τέλος κάθε ημερολογιακού μήνα, όλες οι ημερήσιες εγγραφές του μήνα αναφοράς οριστικοποιούνται.
(4) Within sixteen (16) days from the end of the previous calendar month all daily records are finalised.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchHeader" type="mstns:BatchHeader" />
                <xs:element name="Online_EndOfDay_PtP_Game" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RecordID" type="mstns:RecordID" />
                            <xs:choice>
                                <xs:element name="CancelledRecordData">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="CancelledRecordID" type="mstns:RecordID" />
                                            <xs:element name="CancelledRecordDate" type="mstns:dateTimeUTC" />
                                            <xs:element name="CancelledRecordReason" type="mstns:LongString" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="ReplacedRecordID" type="mstns:RecordID" minOccurs="0" />
                                    <xs:element name="ReportDate" type="mstns:dateTimeUTC">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Ημέρα Αναφοράς:
Η ημερομηνία και ώρα έναρξης της Παικτικής Ημέρας (UTC).

Report Day:
The start date and time of a Gaming Day (UTC).
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ReportCreationDate" type="mstns:dateTimeUTC">
                                        <xs:annotation>
                                            <xs:documentation>Ημερομηνία Δημιουργίας Αναφοράς:
Η ημερομηνία και η ώρα που δημιουργήθηκε η αναφορά (UTC).

End of Day Report Creation Date:
Date and time that the report was created (UTC).</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Currency" type="mstns:Currency" />
                                    <xs:element name="DomainName" type="mstns:DomainName" />
                                    <xs:element name="PtPGameCategoryA">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Κατηγορία Διομότιμων Παιγνίων (Α):
                                        Πρώτο (Α) επίπεδο κατηγοριοποίησης των διομότιμων Παιγνίων (peer to peer games). Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
                                        (1) = Παίγνια που διεξάγονται διομότιμα (peer to peer), σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
                                        (2) = Παίγνια που διεξάγονται διομότιμα (peer to peer) και αυτοτελώς (πχ. Πόκερ cash games).

                                        Peer to Peer Game Category (A):
                                        First (A) level of peer to peer games categorization. Values are granted by HGC. Allowed values:
                                        (1) = Peer to peer games, live, in a studio, with a live dealer and whose output is not extracted by a Random Number Generator.
                                        (2) = Peer to peer games (eg. poker cash games).
                                    </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:positiveInteger">
                                                <xs:enumeration value="1" />
                                                <xs:enumeration value="2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="TotalNumberGameSessions" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Παιγνίων:
Το πλήθος των συνεδριών διομότιμων (peer to peer) παιγνίων (GameSessionIDs) που πραγματοποιήθηκαν την ημέρα αναφοράς.

Total Number of Peer to Peer Game Sessions:
The total number of peer to peer game sessions (GameSessionIDs), within the reporting day.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberPokerCashGamesHands" type="xs:nonNegativeInteger" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Πλήθος Κύκλων Παιγνίων (HANDS):
Συμπληρώνεται ο συνολικός αριθμός των κύκλων παιγνίων (Poker Hands) σε όλα τα τραπέζια. Το πεδίο συμπληρώνεται  για τα Παίγνια Πόκερ cash games.

Total Game Cycles (HANDS):
The toal number of Poker Hands in all tables. NOTE: Filled only for peer to peer Poker cash games.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberPlayers" type="mstns:NumberOfPlayers">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Πλήθος Παικτών:
Tο πλήθος των Παικτών που συμμετείχαν σε διομότιμα (peer to peer) παίγνια την ημέρα αναφοράς.

Total Number of Players:
The total number of Players that participated in peer to peer games, within the reporting date.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberPlayersWon" type="mstns:NumberOfPlayers">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Πλήθος Παικτών με κερδισμένες συνεδρίες παιγνίων:
Tο πλήθος των Παικτών με τουλάχιστον μία κερδισμένη συνεδρία παιγνίου, την ημέρα αναφοράς.

Total Number of Winning Players:
The total number of Players with winning game sessions, within the reporting day.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountWagered" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Ποσό Πονταρίσματος:
Το συνολικό ποσό που πονταρίστηκε στις συνεδρίες διομότιμων (peer to peer) παιγνίων, την ημέρα αναφοράς. Το ποσό αυτό περιλαμβάνει τυχόν ποσά επιβραβεύσεων που δεν είναι άμεσα αναλήψιμες (non redeemable bonus), οι οποίες έχουν δοθεί και παιχτεί από τον Παίκτη. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνεται το συνολικό ποσό που αντιστοιχεί σε συνεισφορές για Λειτουργίες Jackpot (jackpot rake).

Total Amount Wagered:
The total amount wagered in peer to peer game sessions, within the reporting day, excluding stakes allocated to Jackpots (jackpot rake). This amount includes stakes coming from non redeemable bonuses.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountLicenseeRake" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Ποσό Προμήθειας Κατόχου Άδειας:
Το συνολικό ποσό προμήθειας (rake) του Κατόχου Άδειας που καταβλήθηκε από τους Παίκτες, κατά τη διάρκεια συνεδριών διομότιμων (peer to peer) παιγνίων, την ημέρα αναφοράς.
Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνεται το συνολικό ποσό που αντιστοιχεί σε συνεισφορές για Λειτουργίες Jackpot (jackpot rake).

Total Licensee Rake:
The total amount which the Licensee has claimed as commission/rake for the moves in the session, during the peer to peer game sessions, within the reporting day, excluding stakes allocated to Jackpot (jackpot rake).
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountJackpotRake" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Ποσό Συνεισφορών Λειτουργιών Jackpot:
Το συνολικό ποσό που καταβλήθηκε για Λειτουργίες Jackpot από τους Παίκτες (jackpot rake), κατά τη διάρκεια των  συνεδριών διομότιμων (peer to peer) Παιγνίων, την ημέρα αναφοράς.

Total Jackpot Rake:
The total stakes allocated to Jackpots during peer to peer game sessions, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNonRedeemableBonusAmountWagered" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Ποσό Μη Άμεσα Αναλήψιμων Επιβραβεύσεων Παικτών:
Το συνολικό ποσό επιβραβεύσεων που δεν είναι άμεσα αναλήψιμες (non redeemable bonus amount) που πονταρίστηκε από τους Παίκτες, κατά τη διάρκεια των συνεδριών διομότιμων παιγνίων, την ημέρα αναφοράς.

Total Non Redeemable Bonus Amount:
The total non redeemable bonus amount wagered by the Players, during peer to peer game sessions, within the reporting day.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountWon" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Κερδηθέν Ποσό:                                        
Το συνολικό ποσό που κερδήθηκε από τους Παίκτες στις συνεδρίες διομότιμων (peer to peer) παιγνίων, την ημέρα αναφοράς. Στο ποσό αυτό συμπεριλαμβάνεται το συνολικό ποσό των παρακρατούμενων φόρων και το συνολικό ποσό των επιβραβεύσεων (bonus amounts, rake back bonus κ.λπ.), εάν υφίστανται. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνονται τυχόν ποσά που αντιστοιχούν σε κέρδη από Λειτουργίες Jackpot, τα οποία δηλώνονται στο σχετικό μοντέλο δεδομένων.

Total Amount Won:
The total amount won by the Players, in peer to peer game sessions, within the reporting day, including withholding tax amounts and all bonus amounts (rake back incl.), if any. Jackpot wins should not be reported in this field. Jackpot wins reported in the related data model..</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountRedeemableRakeBackBonus" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Ποσό Επιστροφής Προμήθειας Παίκτη (Άμεσα Αναλήψιμες Επιβραβεύσεις):
Το συνολικό άμεσα αναλήψιμο ποσό επιστροφής μέρους της προμήθειας των Παικτών προς τον Κάτοχο Άδειας (rake back) ή οποιαδήποτε άλλη άμεσα αναλήψιμη επιβράβευση, κατά τη διάρκεια των συνεδριών διομότιμων (peer to peer) παιγνίων, από τον Κάτοχο Άδειας προς τον Παίκτη, την ημέρα αναφοράς.

Total Rake Back Amount (Redeemable Bonus):
The total redeemable amount of rake given back to Players or any other redeemable bonus amount given to players, during peer to peer game sessions, within the reporting day, by the Licensee.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNonRedeemableBonusAmountWon" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Ποσό Μη Άμεσα Αναλήψιμων Επιβραβεύσεων:
Το συνολικό ποσό των μη άμεσα αναλήψιμων επιβραβεύσεων (non redeemable bonus amounts) που κερδήθηκαν από τους Παίκτες στις συνεδρίες διομότιμων παιγνίων, την ημέρα αναφοράς.

Total Non Redeemable Bonus Amount:
The total non redeemable bonus amount, won by the Players, in the peer to peer game sessions, within the reporting day.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberJackpots" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Πλήθος Λειτουργιών Jackpot:
Tο συνολικό πλήθος των Λειτουργιών Jackpot που κερδήθηκαν από τους Παίκτες στις διομότιμες συνεδρίες (peer to peer) παιγνίων, την ημέρα αναφοράς.

Total Number of Jackpots:
The total number of Jackpots won by the Players, in peer to peer game sessions, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountWonJackpots" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Κερδηθέν Ποσό Λειτουργιών Jackpot:
Το συνολικό ποσό των Λειτουργιών Jackpot που κερδήθηκαν στις συνεδρίες διομότιμων  (peer to peer) παιγνίων, την ημέρα αναφοράς για συμμετοχή σε Jackpots.

Total Jackpot Won Amount:
The total Jackpot amount won by Players in peer to peer game sessions, within the reporting day.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberIncompleteGameSessions" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Πλήθος Ημιτελών Συνεδριών Παιγνίων:
Το συνολικό πλήθος των ημιτελών συνεδριών διομότιμων (peer to peer) παιγνίων, την ημέρα αναφοράς, για τις οποίες έχει εκκαθαριστεί η αντίστοιχη φορολογική συνεδρία.

Incomplete Game Sessions Total Number:
Total number of incomplete peer to peer game sessions, within the reporting day, assuming the related taxation session has been processed.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountIncompleteGameSessions" type="mstns:MonetaryAmount" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Ποσό Ημιτελών Συνεδριών Παιγνίων:
Το συνολικό ποσό των ημιτελών συνεδριών διομότιμων (peer to peer) παιγνίων που πονταρίστηκε, την ημέρα αναφοράς, για τις οποίες έχει εκκαθαριστεί η αντίστοιχη φορολογική συνεδρία.
(εάν υφίσταται)

Incomplete Game Sessions Total Amount:
Total amount of incomplete peer to peer game sessions wagered, within the reporting day, assuming the related taxation session has been processed.
(if applicable)
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                        <xs:assert test="if (not(exists(CancelledRecordData))) then (ReportDate le ReportCreationDate) else if (exists(CancelledRecordData)) then (not(exists(ReportDate)) and not(exists(ReportCreationDate))) else false()" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueRecord">
            <xs:selector xpath="mstns:Online_EndOfDay_PtP_Game" />
            <xs:field xpath="mstns:RecordID" />
        </xs:unique>
    </xs:element>
</xs:schema>