Data Models Specifications/Online_Taxation_Sessions.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:mstns="https://www.gamingcommission.gov.gr" elementFormDefault="qualified" targetNamespace="https://www.gamingcommission.gov.gr" version="1.0" xpathDefaultNamespace="https://www.gamingcommission.gov.gr" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\CommonElements.xsd" />
    <xs:element name="Batch">
        <xs:annotation>
            <xs:documentation>Συχνότητα καταγραφής στο SAFE / Frequency:
(1) Όποτε εκκαθαρίζεται η συγκεκριμένη φορολογική συνεδρία.
(1) Whenever a taxation session is processed.
                
Σχόλια / Comments:
(1) Τα οικονομικά αποτελέσματα όλων των συνεδριών παιγνίων που διεξάγονται κατά τη διάρκεια μίας Φορολογικής Συνεδρίας, λαμβάνονται υπόψη για τον υπολογισμό του Παρακρατούμενου Φόρου Παίκτη.
(1) The financial results of all game sessions within a Taxation Session Day, are taken into account for the calculation of the Withholding Tax amount of a Player.

(2) Εφαρμόζεται για τις κάτωθι κατηγορίες παιγνίων:
- Παίγνια που διεξάγονται σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
- Παίγνια που το αποτέλεσμα των οποίων εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
- Παίγνια που διεξάγονται διομότιμα (peer to peer), σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
- Παίγνια που διεξάγονται διομότιμα (peer to peer) και αυτοτελώς (πχ. Πόκερ cash games).
(2) Used for the following game categories:
- Casino games, poker and/or variants thereon, played live, in a studio, with a live dealer and whose outcome is not generated by a Random Number Generator.
- Casino games, poker and/or variants thereon, whose outcome is generated by a Random Number Generator.
- Peer to peer games, live, in a studio, with a live dealer and whose output is not extracted by a Random Number Generator.
- Peer to peer games (eg. poker cash games).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchHeader" type="mstns:BatchHeader" />
                <xs:element name="Online_Taxation_Session" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RecordID" type="mstns:RecordID" />
                            <xs:choice>
                                <xs:element name="CancelledRecordData">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="CancelledRecordID" type="mstns:RecordID" />
                                            <xs:element name="CancelledRecordDate" type="mstns:dateTimeUTC" />
                                            <xs:element name="CancelledRecordReason" type="mstns:LongString" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="ReplacedRecordID" type="mstns:RecordID" minOccurs="0" />
                                    <xs:element name="PlayerID" type="mstns:PlayerID" />
                                    <xs:element name="TaxationSessionData">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="TaxationSessionID" type="mstns:TaxationSessionID">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Φορολογική Συνεδρία:
                                                    Ο μοναδικός κωδικός φορολογικής συνεδρίας, τον οποίο αποδίδει ο Κάτοχος Άδειας. Ως φορολογική συνεδρία νοείται η παικτική συνεδρία της παρ. 2 του άρθρου 60 του ν. 2961, δηλαδή το χρονικό διάστημα από τη στιγμή που ο παίκτης συνδέεται με το κεντρικό πληροφοριακό σύστημα (ΚΠΣ) ενός Κατόχου Άδειας, μέχρι τη στιγμή που  αποσυνδέεται από αυτό. Σε κάθε περίπτωση, έκαστη φορολογική  συνεδρία λήγει με την πάροδο 24 ωρών από τη στιγμή που ο παίκτης συνδέεται με το ΚΠΣ διαδικτυακού παρόχου. Κατά τη διάρκεια μίας φορολογικής συνεδρίας, ένας Παίκτης δύναται να συμμετέχει σε ένα ή περισσότερα Παίγνια, στην ίδια ή σε πολλές πλατφόρμες παιγνίων:
                                                    (1) Παίγνια που διεξάγονται σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
                                                    (2) Παίγνια που το αποτέλεσμα των οποίων εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
                                                    (3) Παίγνια που διεξάγονται διομότιμα (peer to peer), σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
                                                    (4) Παίγνια που διεξάγονται διομότιμα (peer to peer) και αυτοτελώς (πχ. Πόκερ cash games).

                                                    Taxation Session Identifier:
                                                    Unique identifier of a taxation session, granted by the Licensee. A taxation session is the time of a Play Session (log in - Log out) in the Licensee's system, as defined in the article 60 of ν.2961/2001.During a taxation session, a Player may participate in one or more Games, of the same or different Game Platforms:
                                                    (1) Casino games, poker and/or variants thereon, played live, in a studio, with a live dealer and whose outcome is not generated by a Random Number Generator.
                                                    (2) Casino games, poker and/or variants thereon, whose outcome is generated by a Random Number Generator.
                                                    (3) Peer to peer games, live, in a studio, with a live dealer and whose output is not extracted by a Random Number Generator.
                                                    (4) Peer to peer games (eg. poker cash games).
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TaxationSessionStartDate" type="mstns:dateTimeUTC">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Έναρξης Φορολογικής Συνεδρίας:
                                                    Η ημερομηνία και ώρα έναρξης της φορολογικής συνεδρίας (UTC).

                                                    Taxation Session Start Date:
                                                    Date and time the taxation session has started (UTC).
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TaxationSessionEndDate" type="mstns:dateTimeUTC">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Λήξης Φορολογικής Συνεδρίας:
                                                    Η ημερομηνία και ώρα λήξης της φορολογικής συνεδρίας (UTC).

                                                    Taxation Session End Date:
                                                    Date and time the taxation session has ended (UTC).
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TaxationSessionBeginningBalance" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Αρχικό Υπόλοιπο Φορολογικής Συνεδρίας:
Το υπόλοιπο στον λογαριασμό Παίκτη κατά την έναρξη μιας φορολογικής συνεδρίας.

Taxation Session Beginning Balance:
The amount in Player's account at the beginning of a taxation session.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TaxationSessionTotalDeposits" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                   Σύνολο Καταθέσεων Φορολογικής Συνεδρίας:
Το συνολικό ποσό που κατέθεσε ο Παίκτης στο λογαριασμό του, κατά τη διάρκεια μιας φορολογικής συνεδρίας.

Taxation Session Deposits:
The total amount of Player's deposits in Player's account, during a taxation session.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TaxationSessionTotalRedeemableBonus" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                   Σύνολο Άμεσα Αναλήψιμων Επιβραβεύσεων Φορολογικής Συνεδρίας:                                                   
Το συνολικό ποσό άμεσα αναλήψιμων επιβραβεύσεων, που δόθηκαν στον Παίκτη από τον Κάτοχο Άδειας, κατά τη διάρκεια μιας φορολογικής συνεδρίας.

Taxation Session Redeemable Bonus:
The total amount of Redeemable Bonus Player's deposited in Player's account, during a taxation session.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TaxationSessionAmountTaxed" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Φορολογητέο ποσό Φορολογικής Συνεδρίας:
Το συνολικό ποσό  για το οποίο ο Παίκτης θα φορολογηθεί, σε μία φορολογική συνεδρία. Στο ποσό αυτό συμπεριλαμβάνεται το συνολικό ποσό των παρακρατούμενων φόρων και το συνολικό ποσό των επιβραβεύσεων (bonus amounts), εάν υφίστανται. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνονται τυχόν ποσά που αντιστοιχούν σε κέρδη από Λειτουργίες Jackpot.

Taxation Session Amount Taxed:
The total amount won in a taxation session including withholding tax amounts and bonus amounts, if any. Jackpot wins should not be reported in this field.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TaxationSessionNetAmount" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Συνολικό Καθαρό Κερδηθέν Ποσό Φορολογικής Συνεδρίας:
Το συνολικό καθαρό ποσό που κερδήθηκε, στη φορολογική συνεδρία. Στο ποσό αυτό ΔΕΝ συμπεριλαμβάνεται το συνολικό ποσό των παρακρατούμενων φόρων και το συνολικό ποσό των μη επιστρεφόμενων επιβραβεύσεων (bonus amounts), εάν υφίστανται. Σε αυτό το ποσό συμπεριλαμβάνονται τυχόν ποσά που αντιστοιχούν σε κέρδη από Λειτουργίες Jackpot.

Total Net Amount Won:
The total net amount won in a taxation session excluding withholding tax amounts and non redeemable bonus amounts, if any. Jackpot wins are also reported in this field.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TaxationSessionWithholdingTax" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Ποσό Παρακρατούμενου Φόρου:
Το ποσό του παρακρατούμενου φόρου, επί των ποσών που κερδήθηκαν από τους Παίκτες, σε μια φορολογική συνεδρία, σε ένα ή περισσότερα Παίγνια.

Withholding Tax Amount:
The total withholding tax amount related to the amounts won in a taxation session

                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Currency" type="mstns:Currency" />
                                            </xs:sequence>
                                            <xs:assert test="TaxationSessionStartDate le TaxationSessionEndDate" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GamesSessionsData">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="PtPGameSessionsAmountWagered" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Ποσό Πονταρίσματος σε Συνεδρίες Διομότιμων Παιγνίων:
Το συνολικό ποσό (stakes/total buyin) με το οποίο συμμετείχε ο Παίκτης στις συνεδρίες διομότιμων (peer to peer) παιγνίων κατά τη διάρκεια της φορολογικής συνεδρίας. Το ποσό αυτό περιλαμβάνει τυχόν ποσά επιβραβεύσεων που δεν είναι άμεσα αναλήψιμες (non redeemable bonus), οι οποίες έχουν δοθεί και παιχτεί από τον Παίκτη. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνεται το συνολικό ποσό που αντιστοιχεί σε συνεισφορές για Λειτουργίες Jackpot (jackpot rake).

Amount Wagered in peer to peer Game Sessions:
The total amount (stakes/total buyin) wagered from Player within all peer to peer game sessions in a taxation session, excluding stakes allocated to Jackpots (jackpot rake). This amount includes stakes coming from non redeemable bonuses.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="PtPGameSessionsAmountWon" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                Κερδισμένο Ποσό σε Συνεδρίες Διομότιμων Παιγνίων:
Το συνολικό ποσό που ο Παίκτης κέρδισε στις συνεδρίες διομότιμων (peer to peer) παιγνίων στη φορολογική συνεδρία. Στο ποσό αυτό συμπεριλαμβάνεται το συνολικό ποσό των παρακρατούμενων φόρων και το συνολικό ποσό των επιβραβεύσεων (bonus amounts, rake back bonus κ.λπ.), εάν υφίστανται. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνονται τυχόν ποσά που αντιστοιχούν σε κέρδη από Λειτουργίες Jackpot, τα οποία δηλώνονται στο σχετικό μοντέλο δεδομένων.

Amount Won in peer to peer Game Sessions:
A Player’s total winnings in a peer to peer game sessions within the taxation session, including withholding tax amounts and all bonus amounts (rake back incl.), if any. Jackpot wins should not be reported in this field. Jackpot wins reported in the related data model.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="GameSessionsAmountWagered" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Ποσό Πονταρίσματος Συνεδρίων Παιγνίου:                                                 
Το συνολικό ποσό που πονταρίστηκε από τον Παίκτη κατά τη διάρκεια των συνεδρίων παιγνίων στη φορολογική συνεδρία. Το ποσό αυτό περιλαμβάνει τυχόν ποσά επιβραβεύσεων που δεν είναι άμεσα αναλήψιμες (non redeemable bonus), οι οποίες έχουν δοθεί και παιχτεί από τον Παίκτη. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνεται το ποσό που αντιστοιχεί στις συνεισφορές για Λειτουργίες Jackpot (jackpot rake).

Amount Wagered in Game Sessions:
The total amount wagered from Player within all game sessions in the taxation session, excluding stakes allocated to Jackpots (jackpot rake). This amount includes stakes coming from non redeemable bonuses.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="GameSessionsAmountWon" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Κερδισμένο Ποσό Συνεδρίων Παιγνίων:                                                   
Το συνολικό ποσό που ο Παίκτης κέρδισε κατά τη διάρκεια όλων των συνεδρίων παιγνίων της φορολογικής συνεδρίας. Στο ποσό αυτό συμπεριλαμβάνεται το συνολικό ποσό των παρακρατούμενων φόρων και το συνολικό ποσό των επιβραβεύσεων (bonus amounts), εάν υφίστανται. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνονται τυχόν ποσά που αντιστοιχούν σε κέρδη από Λειτουργίες Jackpot, τα οποία δηλώνονται στο σχετικό μοντέλο δεδομένων.

Amount Won in Game Sessions:
A Player’s total winnings in all game sessions within the taxation session, including withholding tax amounts and bonus amounts, if any. Jackpot wins should not be reported in this field. Jackpot wins reported in the related data model.
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="JackpotPlayerAmount" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                    Ποσό Λειτουργιών Jackpot, ανά Παίκτη:
Το συνολικό ποσό (Jackpot amount) που καταβλήθηκε στον εκάστοτε Παίκτη κατά τη διάρκεια της φορολογικής συνεδρίας για τις κάτωθι κατηγορίες παιγνίων:
 - Παίγνια που διεξάγονται σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
- Παίγνια που το αποτέλεσμα των οποίων εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
- Παίγνια που διεξάγονται διομότιμα (peer to peer), σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).
- Παίγνια που διεξάγονται διομότιμα (peer to peer) και αυτοτελώς (πχ. Πόκερ cash games).

Jackpot Player Amount:
The Jackpot amount, each Player won within the taxation session for the following games:
- Casino games, poker and/or variants thereon, played live, in a studio, with a live dealer and whose outcome is not generated by a Random Number Generator.
- Casino games, poker and/or variants thereon, whose outcome is generated by a Random Number Generator.
- Peer to peer games, live, in a studio, with a live dealer and whose output is not extracted by a Random Number Generator.
- Peer to peer games (eg. poker cash games).
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="LogInSessionID" type="mstns:GenericID" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                       Κωδικός Παικτικής Συνεδρίας:
Ο μοναδικός κωδικός Παικτικής Συνεδρίας στο σύστημα του Κατόχου Άδειας, τον οποίο αποδίδει ο Κάτοχος Άδειας.

Play Session Identifier:
Unique identifier of a Play Session (log in - Log out) in the Licensee's system, granted by the Licensee.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="DomainName" type="mstns:DomainName" />
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueRecord">
            <xs:selector xpath="mstns:Online_Taxation_Session" />
            <xs:field xpath="mstns:RecordID" />
        </xs:unique>
    </xs:element>
</xs:schema>