Data Models Specifications/Online_Poker_Tournament_Transactions.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:mstns="https://www.gamingcommission.gov.gr" elementFormDefault="qualified" targetNamespace="https://www.gamingcommission.gov.gr" version="1.0" xpathDefaultNamespace="https://www.gamingcommission.gov.gr" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\CommonElements.xsd" />
    <xs:element name="Batch">
        <xs:annotation>
            <xs:documentation>Συχνότητα καταγραφής στο SAFE / Frequency:
(1) Κάθε δύο (2) ώρες κατ' ελάχιστο
(1) Minimum, every two (2) hours

Σχόλια / Comments:
(1) Αναφορικά με το διομότιμο (peer to peer) Παίγνιο Πόκερ, το Bad Beat καταγράφεται ως Jackpot.
(1) Regarding peer to peer Poker Games, the Bad Beat is considered Jackpot.
</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchHeader" type="mstns:BatchHeader" />
                <xs:element name="Online_Poker_Tournament_Transaction" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RecordID" type="mstns:RecordID" />
                            <xs:choice>
                                <xs:element name="CancelledRecordData">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="CancelledRecordID" type="mstns:RecordID" />
                                            <xs:element name="CancelledRecordDate" type="mstns:dateTimeUTC" />
                                            <xs:element name="CancelledRecordReason" type="mstns:LongString" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="ReplacedRecordID" type="mstns:RecordID" minOccurs="0" />
                                    <xs:element name="PokerTournamentID" type="mstns:PokerTournamentID" />
                                    <xs:element name="PlayerID" type="mstns:PlayerID" />
                                    <xs:element name="PTTransactionData">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="PTTransactionID" type="mstns:PTTransactionID" />
                                                <xs:element name="PTTransactionType">
                                                    <xs:annotation>
                                                        <xs:documentation>Τύπος Συναλλαγής Παίκτη σε Τουρνουά Πόκερ:
Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Entry Stake
(2) = Entry Fee
(3) = Buyin
(4) = Addon
(5) = Rebuy
(6) = Jackpot Contribution
(7) = Buyin fee (rake)
(8) = Addon fee (rake)
(9) = Rebuy fee (rake)
(10) = Jackpot Contribution fee (jackpot rake)
(11) = Rake Back
(12) = Amount Won (Prize)
(13) = Non Redeemable Bonus
(14) = Other Redeemable Bonus
(15) = Jackpot (Prize)
(0) = Other

Poker Tournament TransactionType:
Values are granted by HGC. Allowed values:
(1) = Entry Stake
(2) = Entry Fee
(3) = Buyin
(4) = Addon
(5) = Rebuy
(6) = Jackpot Contribution
(7) = Buyin fee (rake)
(8) = Addon fee (rake)
(9) = Rebuy fee (rake)
(10) = Jackpot Contribution fee (jackpot rake)
(11) = Rake Back
(12) = Amount Won (Prize)
(13) = Non Redeemable Bonus
(14) = Other Redeemable Bonus
(15) = Jackpot (Prize)
(0) = Other</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:enumeration value="0" />
                                                            <xs:enumeration value="1" />
                                                            <xs:enumeration value="2" />
                                                            <xs:enumeration value="3" />
                                                            <xs:enumeration value="4" />
                                                            <xs:enumeration value="5" />
                                                            <xs:enumeration value="6" />
                                                            <xs:enumeration value="7" />
                                                            <xs:enumeration value="8" />
                                                            <xs:enumeration value="9" />
                                                            <xs:enumeration value="10" />
                                                            <xs:enumeration value="11" />
                                                            <xs:enumeration value="12" />
                                                            <xs:enumeration value="13" />
                                                            <xs:enumeration value="14" />
                                                            <xs:enumeration value="15" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="PTTransactionAmount" type="mstns:MonetaryAmount">
                                                    <xs:annotation>
                                                        <xs:documentation>Ποσό Συναλλαγής Παίκτη σε Τουρνουά Πόκερ:
Το ποσό της εκάστοτε συναλλαγής που καταγράφεται στα συστήματα του Κατόχου Άδειας

Tournament Transaction Amount:
The amount of each transaction recorded in the Licensee's systems.</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="PTTWithholdingTax" type="mstns:MonetaryAmount" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                   Παρακρατούμενος Φόρος:
Το  ποσό του Παρακρατούμενου Φόρου Παίκτη του Κατόχου Άδειας, στο Τουρνουά Πόκερ.
(εάν υφίσταται)

Withholding Tax:
The amount of withholding tax of Licensee's Player, in the Poker Tournament.
(if applicable)
                                                </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="PTTransactionDate" type="mstns:dateTimeUTC">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Συναλλαγής Παίκτη σε Τουρνουά Πόκερ:
Η ημερομηνία και ώρα που καταγράφηκε η εκάστοτε συναλλαγή στα συστήματα του Κατόχου Άδειας (UTC).

Poker Tournament Transaction Date:
Date and time the Poker Tournament transaction was recorded in the Licensee's systems (UTC).
                              </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="BonusID" type="mstns:BonusID" minOccurs="0" maxOccurs="unbounded" />
                                                <xs:element name="Currency" type="mstns:Currency" />
                                            </xs:sequence>
                                            <xs:assert test="if (PTTransactionType = 0 or PTTransactionType = 11 or PTTransactionType = 12 or PTTransactionType = 13 or PTTransactionType = 14 or PTTransactionType = 15) then exists(PTTWithholdingTax) else if (PTTransactionType = 1 or PTTransactionType = 2 or PTTransactionType = 3 or PTTransactionType = 4 or PTTransactionType = 5 or PTTransactionType = 6 or PTTransactionType = 7 or PTTransactionType = 8 or PTTransactionType = 9 or PTTransactionType = 10) then not(exists(PTTWithholdingTax)) else false()" />
                                            <xs:assert test="if(PTTransactionType = 11 or PTTransactionType = 13 or PTTransactionType = 14) then exists(BonusID) else if (PTTransactionType !=11 and PTTransactionType !=13 and PTTransactionType !=14) then not(exists(BonusID)) else false ()" />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TableID" type="mstns:TableID" minOccurs="0" />
                                    <xs:element name="IncompleteTransactionIndicator">
                                        <xs:annotation>
                                            <xs:documentation>Δείκτης Ημιτελούς Συναλλαγής:
Δείκτης που προσδιορίζει εάν μία συναλλαγή Τουρνουά Πόκερ έχει ολοκληρωθεί ή όχι. Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Ολοκληρωμένη συναλλαγή Τουρνουά Πόκερ.
(2) = Απώλεια της επικοινωνίας μεταξύ της Πλατφόρμας Τυχερών Παιγνίων και της Συσκευής του Παίκτη.
(3) = Επανεκκίνηση της Πλατφόρμας Τυχερών Παιγνίων.
(4) = Επανεκκίνηση ή δυσλειτουργία της Συσκευής Παίκτη.
(5) = Αντικανονικό τερματισμό του Λογισμικού Χρήστη (client software).
(6) = Εντολή (command) απενεργοποίησης Παιγνίου από την Πλατφόρμα Τυχερών Παιγνίων κατά τη διάρκεια διεξαγωγής Παιγνίου.
(7) = Απροσδιόριστο γεγονός.
(0) = Άλλο

Incomplete Transaction Indicator:
Indicator of an incomplete Poker Tournament transaction. Values are granted by HGC. Allowed values:
(1) = Complete Poker Tournament transaction.
(2) = loss of communication between the Gaming Platform and the Player's Device.
(3) = the Gaming Platform rebooting.
(4) = the Player Device rebooting or malfunctioning.
(5) = abnormal termination of the Client Software.
(6) = a game deactivation command from the Gaming Platform while the game is being played.
(7) = reason can not be specified.
(0) = Other</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:enumeration value="0" />
                                                <xs:enumeration value="1" />
                                                <xs:enumeration value="2" />
                                                <xs:enumeration value="3" />
                                                <xs:enumeration value="4" />
                                                <xs:enumeration value="5" />
                                                <xs:enumeration value="6" />
                                                <xs:enumeration value="7" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LogInSessionID" type="mstns:LogInSessionID" minOccurs="0" />
                                    <xs:element name="DomainName" type="mstns:DomainName" />
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueRecord">
            <xs:selector xpath="mstns:Online_Poker_Tournament_Transaction" />
            <xs:field xpath="mstns:RecordID" />
        </xs:unique>
    </xs:element>
</xs:schema>