Data Models Specifications/Online_EndOfDay_Games.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:mstns="https://www.gamingcommission.gov.gr" elementFormDefault="qualified" targetNamespace="https://www.gamingcommission.gov.gr" version="1.0" xpathDefaultNamespace="https://www.gamingcommission.gov.gr" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\CommonElements.xsd" />
    <xs:element name="Batch">
        <xs:annotation>
            <xs:documentation>Συχνότητα καταγραφής στο SAFE / Frequency:
(1) Ημερήσια. Στο τέλος της Παικτικής Ημέρας.
(1) Daily. At the end of the Gaming Day.

Σχόλια / Comments:
(1) Μία συνεδρία παιγνίου, θα καταγραφεί στην αναφορά της ημέρας που εκκαθαρίζεται η φορολογική συνεδρία στην οποία ανήκει.
(1) A game session will be recorded in the report of the day that the related taxation session is processed.

(2) Στα Παίγνια που διεξάγονται με παικτικές συνεδρίες, η φορολόγηση των κερδών των Παικτών (συμπεριλαμβανομένων και των Jackpots) γίνεται κατά τη λήξη της παικτικής συνεδρίας. Τα σχετικά με τη φορολόγηση παικτών δεδομένα ενσωματώνονται στο μοντέλο δεδομένων "TaxationSessions",  ενώ ο φόρος Παικτών ανά Παικτική Ημέρα ενσωματώνεται στο μοντέλο δεδομένων "EndOfDayOther".
(2) In Games played in sessions, Player's tax is calculated at the end of Player's session. The amount taxed includes both Player's winnings and Jackpots. The relevant data are submitted using the data model entitled "TaxationSessions", while Players' taxes, every reporting day, are submitted using the "EndOfDayOther" data model.

(3) Εντός δεκαέξι (16) ημερών από το τέλος κάθε ημερολογιακού μήνα, όλες οι ημερήσιες εγγραφές του μήνα αναφοράς οριστικοποιούνται.
(3) Within sixteen (16) days from the end of the previous calendar month all daily records are finalised.</xs:documentation>


        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchHeader" type="mstns:BatchHeader" />
                <xs:element name="Online_EndOfDay_Game" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RecordID" type="mstns:RecordID" />
                            <xs:choice>
                                <xs:element name="CancelledRecordData">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="CancelledRecordID" type="mstns:RecordID" />
                                            <xs:element name="CancelledRecordDate" type="mstns:dateTimeUTC" />
                                            <xs:element name="CancelledRecordReason" type="mstns:LongString" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="ReplacedRecordID" type="mstns:RecordID" minOccurs="0" />
                                    <xs:element name="ReportDate" type="mstns:dateTimeUTC">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Ημέρα Αναφοράς:
Η ημερομηνία και ώρα έναρξης της Παικτικής Ημέρας (UTC).

Report Day:
The start date and time of a Gaming Day (UTC).
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ReportCreationDate" type="mstns:dateTimeUTC">
                                        <xs:annotation>
                                            <xs:documentation>Ημερομηνία Δημιουργίας Αναφοράς:
Η ημερομηνία και η ώρα που δημιουργήθηκε η αναφορά (UTC).

End of Day Report Creation Date:
Date and time that the report was created (UTC).</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Currency" type="mstns:Currency" />
                                    <xs:element name="DomainName" type="mstns:DomainName">
                                        <xs:annotation>
                                            <xs:documentation>Όνομα Χώρου:
Το όνομα χώρου του Κατόχου Άδειας, από τον οποίο οι Παίκτες συμμετείχαν σε Παίγνια.

Domain Name:
The domain name of the Licensee's webpage where the Players played the Games.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="GameCategoryA">
                                        <xs:annotation>
                                            <xs:documentation>Κατηγορία Παιγνίων (Α):
Πρώτο (Α) επίπεδο κατηγοριοποίησης των Παιγνίων. Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Παίγνια που διεξάγονται σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator)
(2) = Παίγνια που το αποτέλεσμα των οποίων εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).

Game Category (A):
First (A) level of games categorization. Values are granted by HGC. Allowed values:
(1) = Casino games, poker and/or variants thereon, played live, in a studio, with a live dealer and whose outcome is not generated by a Random Number Generator.
(2) = Casino games, poker and/or variants thereon, whose outcome is generated by a Random Number Generator.</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:positiveInteger">
                                                <xs:enumeration value="1" />
                                                <xs:enumeration value="2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="TotalNumberGameSessions" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Πλήθος Συνεδριών Παιγνίων
Το πλήθος των συνεδριών Παιγνίων (GameSessionIDs) που πραγματοποιήθηκαν την ημέρα αναφοράς.

Total Number of Game Sessions:
The total number of game sessions (GameSessionIDs), within the reporting day.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberPlayers" type="mstns:NumberOfPlayers">
                                        <xs:annotation>
                                            <xs:documentation>Πλήθος Παικτών:
Tο πλήθος των Παικτών που συμμετείχαν στα παίγνια την ημέρα αναφοράς.

Total Number of Players:
The total number of Players that participated in games, within the reporting day.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberPlayersWon" type="mstns:NumberOfPlayers">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Πλήθος Παικτών με κερδισμένες συνεδρίες παιγνίων:
Tο πλήθος των Παικτών με τουλάχιστον μία κερδισμένη συνεδρία παιγνίου, την ημέρα αναφοράς.

Total Number of Winning Players:
The total number of Players with winning game sessions, within the reporting day.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountWagered" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Ποσό Πονταρίσματος:
Το συνολικό ποσό που πονταρίστηκε στις συνεδρίες παιγνίων, την ημέρα αναφοράς. Το ποσό αυτό περιλαμβάνει τυχόν ποσά επιβραβεύσεων που δεν είναι άμεσα αναλήψιμα (non redeemable bonus),  έχουν δοθεί στους παίκτες και πονταρίστηκαν στα παίγνια. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνεται το συνολικό ποσό που αντιστοιχεί στις συνεισφορές για Λειτουργίες Jackpot (jackpot rake).

Total Amount Wagered:
The total amount wagered in game sessions, excluding stakes allocated to Jackpots (jackpot rake), within the reporting day. This amount includes stakes coming from non redeemable bonuses.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountJackpotRake" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Ποσό Συνεισφορών Λειτουργιών Jackpot :
Το συνολικό ποσό που καταβλήθηκε για Λειτουργίες Jackpot (jackpot rake), κατά τη διάρκεια των συνεδριών παιγνίων, την ημέρα αναφοράς.

Total Amount Jackpot Rake:
The total stakes allocated to Jackpots (jackpot rake) during game sessions, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNonRedeemableBonusAmountWagered" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Ποσό Μη Άμεσα Αναλήψιμων Επιβραβεύσεων Παικτών:
Το συνολικό ποσό επιβραβεύσεων που δεν είναι άμεσα αναλήψιμες (non redeemable bonus amount), το οποίο πονταρίστηκε από τους Παίκτες κατά τη διάρκεια των συνεδριών παιγνίων, την ημέρα αναφοράς.

Total Non Redeemable Bonus Amount:
The total non redeemable bonus amount wagered by the Players, during game sessions, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountWon" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Κερδηθέν Ποσό:
Το συνολικό ποσό που κερδήθηκε από τους Παίκτες στις συνεδρίες παιγνίων, την ημέρα αναφοράς. Στο ποσό αυτό συμπεριλαμβάνεται το συνολικό ποσό των παρακρατούμενων φόρων και το συνολικό ποσό των επιβραβεύσεων (bonus amounts), εάν υφίστανται. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνονται τυχόν ποσά που αντιστοιχούν σε κέρδη από Λειτουργίες Jackpot, τα οποία δηλώνονται στο σχετικό μοντέλο δεδομένων.

Total Amount Won:
The total amount won by the Players, in game sessions, within the reporting day, including withholding tax amounts and bonus amounts, if any. Jackpot wins should not be reported in this field. Jackpot wins reported in the related data model.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNonRedeemableBonusAmountWon" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Ποσό Μη Άμεσα Αναλήψιμων Επιβραβεύσεων:
Το συνολικό ποσό των μη άμεσα αναλήψιμων επιβραβεύσεων (non redeemable bonus amounts) που κερδήθηκαν από τους Παίκτες στις συνεδρίες παιγνίων, την ημέρα αναφοράς.

Total Non Redeemable Bonus Amount:
The total non redeemable bonus amount, won by the Players, in the game sessions, within the reporting day.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalRedeemableBonusAmount" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Συνολικό Ποσό Άμεσα Αναλήψιμων Επιβραβεύσεων:
Το συνολικό ποσό των άμεσα αναλήψιμων επιβραβεύσεων, που δόθηκαν στους Παίκτες, την ημέρα αναφοράς.

Total Amount of Redeemable Bonuses:
The total amount of redeemable bonuses given to Players, within the reporting day.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberJackpots" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Πλήθος Λειτουργιών Jackpot:
                                        
Tο συνολικό πλήθος των Λειτουργιών Jackpot που κερδήθηκαν από τους Παίκτες στις συνεδρίες παιγνίων, την ημέρα αναφοράς.

Total Number of Jackpots:
The total number of Jackpots won by the Players, in game sessions, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountWonJackpots" type="mstns:MonetaryAmount">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Κερδηθέν Ποσό Λειτουργιών Jackpot:
Το συνολικό ποσό των Λειτουργιών Jackpot που κερδήθηκαν στις συνεδρίες παιγνίων, την ημέρα αναφοράς για συμμετοχή σε Jackpots.

Total Jackpot Won Amount:
The total Jackpot amount won by Players in game sessions, within the reporting day.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalNumberIncompleteGameSessions" type="xs:nonNegativeInteger">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Πλήθος Ημιτελών Συνεδριών Παιγνίων:
Το συνολικό πλήθος των ημιτελών συνεδριών παιγνίων, την ημέρα αναφοράς, για τις οποίες έχει εκκαθαριστεί η αντίστοιχη φορολογική συνεδρία.

Incomplete Game Sessions Total Number:
Total number of incomplete game sessions, within the reporting day, assuming the related taxation session has been processed.
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TotalAmountIncompleteGameSessions" type="mstns:MonetaryAmount" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Συνολικό Ποσό Ημιτελών Συνεδριών Παιγνίων:                                        
Το συνολικό ποσό των ημιτελών συνεδριών παιγνίων που πονταρίστηκε, την ημέρα αναφοράς, για τις οποίες έχει ολοκληρωθεί η αντίστοιχη φορολογική συνεδρία.
(εάν υφίσταται)
                                        
Incomplete Game Sessions Total Amount:
Total amount of incomplete game sessions wagered, within the reporting day, assuming the related taxation session has been completed.
(if applicable)
                                        
</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                        <xs:assert test="if (not(exists(CancelledRecordData))) then (ReportDate le ReportCreationDate) else if (exists(CancelledRecordData)) then (not(exists(ReportDate)) and not(exists(ReportCreationDate))) else false()" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueRecord">
            <xs:selector xpath="mstns:Online_EndOfDay_Game" />
            <xs:field xpath="mstns:RecordID" />
        </xs:unique>
    </xs:element>
</xs:schema>