Data Models Specifications/Online_Games.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:mstns="https://www.gamingcommission.gov.gr" elementFormDefault="qualified" targetNamespace="https://www.gamingcommission.gov.gr" version="1.0" xpathDefaultNamespace="https://www.gamingcommission.gov.gr" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\CommonElements.xsd" />
    <xs:element name="Batch">
        <xs:annotation>
            <xs:documentation>Συχνότητα καταγραφής στο SAFE / Frequency:
(1) Κάθε δύο (2) ώρες κατ' ελάχιστο.
(1) Minimum, every two (2) hours.

Σχόλια / Comments:
(1) Μία συνεδρία παιγνίου, θα καταγραφεί στην αναφορά της ημέρας που εκκαθαρίζεται η φορολογική συνεδρία που ανήκει.
(1) A game session will be recorded in the report of the day that the related taxation session is processed.

(2) Στα Παίγνια που διεξάγονται με παικτικές συνεδρίες, η φορολόγηση των κερδών των Παικτών (συμπεριλαμβανομένων και των Jackpots) γίνεται κατά τη λήξη της παικτικής συνεδρίας. Τα σχετικά με τη φορολόγηση παικτών δεδομένα ενσωματώνονται στο μοντέλο δεδομένων "TaxationSessions",  ενώ ο φόρος Παικτών ανά Παικτική Ημέρα ενσωματώνεται στο μοντέλο δεδομένων "EndOfDayOther".
(2) In Games played in sessions, Player's tax is calculated at the end of Player's session. The amount taxed includes both Player's winnings and Jackpots. The relevant data are submitted using the data model entitled "TaxationSessions", while Players' taxes, every reporting day, are submitted using the "EndOfDayOther" data model.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchHeader" type="mstns:BatchHeader" />
                <xs:element name="Online_Game" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RecordID" type="mstns:RecordID" />
                            <xs:choice>
                                <xs:element name="CancelledRecordData">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="CancelledRecordID" type="mstns:RecordID" />
                                            <xs:element name="CancelledRecordDate" type="mstns:dateTimeUTC" />
                                            <xs:element name="CancelledRecordReason" type="mstns:LongString" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="ReplacedRecordID" type="mstns:RecordID" minOccurs="0" />
                                    <xs:element name="GameCategoryA">
                                        <xs:annotation>
                                            <xs:documentation>Κατηγορία Παιγνίων (Α):
Πρώτο (Α) επίπεδο κατηγοριοποίησης των Παιγνίων. Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Παίγνια που διεξάγονται σε ζωντανή μετάδοση (live), σε Ειδικό Χώρο (studio), με ζωντανό γκρουπιέρη (dealer) και το αποτέλεσμα των οποίων δεν εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator)
(2) = Παίγνια που το αποτέλεσμα των οποίων εξάγεται από γεννήτρια τυχαίων αριθμών (Random Number Generator).

Game Category (A):
First (A) level of games categorization. Values are granted by HGC. Allowed values:
(1) = Casino games, poker and/or variants thereon, played live, in a studio, with a live dealer and whose outcome is not generated by a Random Number Generator.
(2) = Casino games, poker and/or variants thereon, whose outcome is generated by a Random Number Generator.</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:positiveInteger">
                                                <xs:enumeration value="1" />
                                                <xs:enumeration value="2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="GameCategoryB">
                                        <xs:annotation>
                                            <xs:documentation>Κατηγορία Παιγνίων (B):
Δεύτερο (B) επίπεδο κατηγοριοποίησης των Παιγνίων. Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Slot Machines
(2) = Black Jack
(3) = Roulette
(4) = Baccarat
(5) = Banco Punto
(6) = Craps (Ζάρια)
(7) = Bingo
(8) = Wheel of Fortune
(0) = Άλλο

Games Category (B):
Second (B) level of game categorization. Values are granted by HGC. Allowed values:
(1) = Slot Machines
(2) = Black Jack
(3) = Roulette
(4) = Baccarat
(5) = Banco Punto
(6) = Craps
(7) = Bingo
(8) = Wheel of Fortune
(0) = Other</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:enumeration value="0" />
                                                <xs:enumeration value="1" />
                                                <xs:enumeration value="2" />
                                                <xs:enumeration value="3" />
                                                <xs:enumeration value="4" />
                                                <xs:enumeration value="5" />
                                                <xs:enumeration value="6" />
                                                <xs:enumeration value="7" />
                                                <xs:enumeration value="8" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PlayerID" type="mstns:PlayerID" />
                                    <xs:element name="ManufacturerLN" type="mstns:CollapsedGenericID">
                                        <xs:annotation>
                                            <xs:documentation>
                                        Αριθμός Μητρώου Κατασκευαστή:
Ο μοναδικός κωδικός πιστοποίησης του Κατασκευαστή, στην πλατφόρμα του οποίου διεξάγεται το Παίγνιο. Ο κωδικός πιστοποίησης αποδίδεται από την Ε.Ε.Ε.Π.. Στην περίπτωση που η πλατφόρμα ανήκει στον Κάτοχο Άδειας συμπληρώνεται ο αριθμός πιστοποίησης του Κατόχου Άδειας, ο οποίος αποδίδεται από την Ε.Ε.Ε.Π..

Manufacturer License Number:
The unique certification number of the Manufacturer of the gaming platform on which the game is conducted. The license number is provided by HGC. If the gaming platform is owned by the Licensee, the HGC's license number is provided.
                                    </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="LogInSessionID" type="mstns:LogInSessionID" />
                                    <xs:element name="TaxationSessionID" type="mstns:TaxationSessionID" />
                                    <xs:element name="GameSessionData">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="GameSessionID" type="mstns:GameSessionID" />
                                                <xs:element name="GameSessionStartDate" type="mstns:dateTimeUTC">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Έναρξης Συνεδρίας Παιγνίου:
Η ημερομηνία και ώρα έναρξης της συνεδρίας παιγνίου (UTC).

Game Session Start Date:
Date and time the game session has started (UTC).</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="GameSessionEndDate" type="mstns:dateTimeUTC">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Λήξης Συνεδρίας Παιγνίου:
Η ημερομηνία και ώρα λήξης της συνεδρίας παιγνίου (UTC).

Game Session End Date:
Date and time the game session has ended (UTC).</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Stakes">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="GameSessionAmountWagered" type="mstns:MonetaryAmount">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                Ποσό Πονταρίσματος Συνεδρίας Παιγνίου:
Το συνολικό ποσό που πονταρίστηκε από τον Παίκτη κατά τη διάρκεια μιας συνεδρίας παιγνίου. Το ποσό αυτό περιλαμβάνει τυχόν ποσά επιβραβεύσεων που δεν είναι άμεσα αναλήψιμες (non redeemable bonus), οι οποίες έχουν δοθεί και παιχτεί από τον Παίκτη. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνεται το ποσό που αντιστοιχεί στις συνεισφορές για Λειτουργίες Jackpot (jackpot rake).

Amount Wagered in Game Session:
The total amount wagered from Player within a game session, excluding stakes allocated to Jackpots (jackpot rake). This amount includes stakes coming from non redeemable bonuses.
                                                            </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="GameSessionJackpotRake" minOccurs="0" type="mstns:MonetaryAmount">
                                                                <xs:annotation>
                                                                    <xs:documentation>Ποσό Συνεισφοράς Λειτουργιών Jackpot:                                                                
Το συνολικό ποσό που καταβλήθηκε για Λειτουργίες Jackpot (jackpot rake), κατά τη διάρκεια μιας συνεδρίας παιγνίου, από τον Παίκτη.
(εάν υφίσταται)

Game Session Jackpot Rake:
The total stakes allocated to jackpots (jackpot rake), during a Game Session.
(if applicable)</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="GameSessionNonRedeemableBonusAmountWagered" minOccurs="0" type="mstns:MonetaryAmount">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                Ποσό Μη Άμεσα Αναλήψιμων Επιβραβεύσεων Παίκτη:
Το συνολικό ποσό επιβραβεύσεων που δεν είναι άμεσα αναλήψιμες (non redeemable bonus amounts) που πονταρίστηκε από τον Παίκτη, κατά τη διάρκεια μιας συνεδρίας παιγνίου.
(εάν υφίσταται)

Game Session Non Redeemable Bonus Amount:
The total non redeemable bonus amount wagered by the Player, during a game session.
(if applicable)
                                                            </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Winnings" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="GameSessionAmountWon" type="mstns:MonetaryAmount">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                Κερδισμένο Ποσό Συνεδρίας Παιγνίου:
Το συνολικό ποσό που ο Παίκτης κέρδισε κατά τη διάρκεια μιας συνεδρίας παιγνίου. Στο ποσό αυτό συμπεριλαμβάνεται το συνολικό ποσό των παρακρατούμενων φόρων και το συνολικό ποσό των επιβραβεύσεων (bonus amounts), εάν υφίστανται. Σε αυτό το ποσό ΔΕΝ συμπεριλαμβάνονται τυχόν ποσά που αντιστοιχούν σε κέρδη από Λειτουργίες Jackpot, τα οποία δηλώνονται στο σχετικό μοντέλο δεδομένων.
(εάν υφίσταται)

Game Session Amount Won:
A Player’s total winnings in a game session, including withholding tax amounts and bonus amounts, if any. Jackpot wins should not be reported in this field. Jackpot wins reported in the related data model.
(if applicable)
                                                            </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="GameSessionNonRedeemableBonusAmountWon" minOccurs="0" type="mstns:MonetaryAmount">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                               Ποσό Μη Άμεσα Αναλήψιμων Επιβραβεύσεων:
Το συνολικό ποσό των μη άμεσα αναλήψιμων επιβραβεύσεων (non redeemable bonus amounts) που κερδήθηκαν από τον Παίκτη στη συνεδρία παιγνίου.
(εάν υφίσταται)

Non Redeemable Bonus Amount:
The total non redeemable bonus amount , won by the Player, in a game session.
(if applicable)
                                                            </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="GameSessionRedeemableBonus" minOccurs="0" type="mstns:MonetaryAmount">
                                                                <xs:annotation>
                                                                    <xs:documentation>Ποσό Άμεσα Αναλήψιμων Επιβραβεύσεων:
Το συνολικό ποσό των άμεσα αναλήψιμων επιβραβεύσεων, που δόθηκαν στους Παίκτες στη συνεδρία παιγνίου.
(εάν υφίσταται)

Amount of Redeemable Bonuses:
The total amount of redeemable bonuses given to Players, in a game session.
(if applicable)
                                                            </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Currency" type="mstns:Currency" />
                                            </xs:sequence>
                                            <xs:assert test="GameSessionStartDate le GameSessionEndDate " />
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="JackpotID" type="mstns:JackpotID" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="BonusID" type="mstns:BonusID" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="IncompleteGameSessionIndicator">
                                        <xs:annotation>
                                            <xs:documentation>Δείκτης Ημιτελούς Συνεδρίας Παιγνίου:
Δείκτης που προσδιορίζει εάν μία συνεδρία παιγνίου έχει ολοκληρωθεί ή όχι. Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Ολοκληρωμένη συνεδρία παιγνίου
(2) = Απώλεια της επικοινωνίας μεταξύ της Πλατφόρμας Τυχερών Παιγνίων και της Συσκευής του Παίκτη.
(3) = Επανεκκίνηση της Πλατφόρμας Τυχερών Παιγνίων.
(4) = Επανεκκίνηση ή δυσλειτουργία της Συσκευής Παίκτη.
(5) = Αντικανονικό τερματισμό του Λογισμικού Χρήστη (client software).
(6) = Εντολή (command) απενεργοποίησης Παιγνίου από την Πλατφόρμα Τυχερών Παιγνίων κατά τη διάρκεια διεξαγωγής Παιγνίου.
(7) = Απροσδιόριστο γεγονός.
(0) = Άλλο


Incomplete Game Session Indicator:
Indicator of an incomplete game session. Values are granted by HGC. Allowed values:
(1) = Complete game session
(2) = loss of communication between the Gaming Platform and the Player's Device.
(3) = the Gaming Platform rebooting.
(4) = the Player Device rebooting or malfunctioning.
(5) = abnormal termination of the Client Software.
(6) = a game deactivation command from the Gaming Platform while the game is being played.
(7) = reason can not be specified.
(0) = Other</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:nonNegativeInteger">
                                                <xs:enumeration value="0" />
                                                <xs:enumeration value="1" />
                                                <xs:enumeration value="2" />
                                                <xs:enumeration value="3" />
                                                <xs:enumeration value="4" />
                                                <xs:enumeration value="5" />
                                                <xs:enumeration value="6" />
                                                <xs:enumeration value="7" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:choice>
                                        <xs:element name="RNGGames">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="GameID" type="mstns:GameID">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                        Κωδικός Πιστοποίησης Παιγνίου:
Ο μοναδικός κωδικός πιστοποίησης του Παιγνίου της συνεδρίας παιγνίου, τον οποίο αποδίδει η Ε.Ε.Ε.Π..
(όταν το πεδίο  "GameCategoryA" = 2)

Game Certification Number:
The unique certification number of the Game played by the Player, during a game session,  provided by HGC.
(when "GameCategoryA" = 2)
The ID refers to the certification number provided by the HGC's certification decision. A list of all certification numbers will be available via our website.
                                                        
                                                    </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PaytableID" type="mstns:PaytableID">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                       Κωδικός Πίνακα Πληρωμών Παιγνίου:
Ο κωδικός του πίνακα πληρωμών του Παιγνίου, ο οποίος ισχύει κατά τη διεξαγωγή του Παιγνίου από τον Παίκτη στο πλαίσιο μιας  συνεδρίας παιγνίου και τον οποίο αναγράφει ο εκάστοτε Οργανισμός Πιστοποίησης στο αντίστοιχο πιστοποιητικό του Παιγνίου.
(όταν το πεδίο  "GameCategoryA" = 2)

Paytable Identification Number:
The identification number of the paytable of the Game, that is related to the Game played by the Player during a game session and it is written in the game certification provided by the Certification Body.
(when "GameCategoryA" = 2)
                                                    </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="RNGID" type="mstns:RNGID">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                        Κωδικός Γεννήτριας Τυχαίων Αριθμών Παιγνίου:
Ο κωδικός της γεννήτριας τυχαίων αριθμών (RNG) διεξαγωγής του Παιγνίου, τον οποίο αποδίδει η Ε.Ε.Ε.Π.
(όταν το πεδίο  "GameCategoryA" = 2)

RNG Identification Number:
The identification number of the RNG of the Game, provided by HGC.
(when "GameCategoryA" = 2)
The ID refers to the certification number provided by the HGC's certification decision. A list of all certification numbers will be available via our website.
                                                    </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LiveGames">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="StudioID" type="mstns:StudioID">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                       Κωδικός Ειδικού Χώρου Διεξαγωγής Παιγνίου:
Ο μοναδικός κωδικός του Ειδικού Χώρου (Studio) διεξαγωγής του Παιγνίου, τον οποίο αποδίδει η Ε.Ε.Ε.Π.
(όταν το πεδίο  "GameCategoryA" = 1)

Studio Identification Number:
The unique identification number of the Studio the Game was held, provided by HGC.
(when "GameCategoryA" = 1) 
                                                    </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="TableID" type="mstns:TableID">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                        Κωδικός Τραπεζιού Διεξαγωγής Παιγνίου:
Ο μοναδικός κωδικός του τραπεζιού διεξαγωγής του Παιγνίου, τον οποίο αποδίδει ο Κάτοχος Άδειας.
(όταν το πεδίο  "GameCategoryA" = 1)

Table Identification Number:
The unique identification number of the table the Game was held, provided by the Licensee.
(when "GameCategoryA" = 1)
                                                    </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="RouletteID" type="mstns:RouletteID" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                        Κωδικός Πιστοποίησης Τροχού Ρουλέτας Διεξαγωγής Παιγνίου:
Ο κωδικός πιστοποίησης του τροχού της ρουλέτας με τον οποίο διεξάγεται το Παίγνιο, τον οποίο αποδίδει η Ε.Ε.Ε.Π.
(όταν το πεδίο  "GameCategoryA" = 1 και το πεδίο "GameCategoryB" = 3)

Roulette Certification Number:
The certification number of the roulette the Game was held with, provided by HGC.
(when "GameCategoryA" = 1 and "GameCategoryB" = 3)
                                                    </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:element name="DomainName" type="mstns:DomainName" />
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                        <xs:assert test="(not(exists(GameCategoryA))) or (GameCategoryA = 2 and exists(RNGGames)) or (GameCategoryA = 1 and exists(LiveGames))" />
                        <xs:assert test="(not(exists(GameCategoryA)) and not(exists(GameCategoryB))) or ((GameCategoryA = 1 and GameCategoryB = 3) and exists(LiveGames/RouletteID)) or ((GameCategoryA = 1 and GameCategoryB != 3) and not(exists(LiveGames/RouletteID))) or ((GameCategoryA = 2) and not(exists(LiveGames/RouletteID)))" />
                        <xs:assert test="(not(exists(GameCategoryA)) and not(exists(GameCategoryB))) or ((GameCategoryA = 2) and (GameCategoryB = 1 or GameCategoryB = 0)) or (GameCategoryA != 2 and GameCategoryB != 1)" />
                        <xs:assert test="if (exists(BonusID)) then (exists(GameSessionData/Stakes/GameSessionNonRedeemableBonusAmountWagered) or exists(GameSessionData/Winnings/GameSessionNonRedeemableBonusAmountWon) or exists(GameSessionData/Winnings/GameSessionRedeemableBonus)) else if (not(exists(BonusID))) then (not(exists(GameSessionData/Stakes/GameSessionNonRedeemableBonusAmountWagered)) and not(exists(GameSessionData/Winnings/GameSessionNonRedeemableBonusAmountWon)) and not(exists(GameSessionData/Winnings/GameSessionRedeemableBonus))) else false()" />
                        <xs:assert test="if (exists(JackpotID)) then exists(GameSessionData/Stakes/GameSessionJackpotRake) else if(not(exists(JackpotID))) then not(exists(GameSessionData/Stakes/GameSessionJackpotRake)) else false()" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueRecord">
            <xs:selector xpath="mstns:Online_Game" />
            <xs:field xpath="mstns:RecordID" />
        </xs:unique>
    </xs:element>
</xs:schema>