Data Models Specifications/Online_Limits.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:mstns="https://www.gamingcommission.gov.gr" elementFormDefault="qualified" targetNamespace="https://www.gamingcommission.gov.gr" version="1.0" xpathDefaultNamespace="https://www.gamingcommission.gov.gr" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\CommonElements.xsd" />
    <xs:element name="Batch">
        <xs:annotation>
            <xs:documentation>Συχνότητα καταγραφής στο SAFE / Frequency:
(1) Ημερήσια. Στο τέλος της Παικτικής Ημέρας.
(1) Daily. At the end of the Gaming Day.

Σχόλια / Comments:
(1) Στην περίπτωση που ένα Όριο Παικτικής Δραστηριότητας υπόκειται σε περισσότερες της μίας αλλαγής, ανά ημέρα, το παραγόμενο αρχείο XML θα φέρει το σύνολο των αλλαγών αυτών, ως ξεχωριστές εγγραφές.
(1) In case a Limit changes more than ones, per day, all these changes must be reported in the related XML file as different records.
</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchHeader" type="mstns:BatchHeader" />
                <xs:element name="Online_Limits" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RecordID" type="mstns:RecordID" />
                            <xs:choice>
                                <xs:element name="CancelledRecordData">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="CancelledRecordID" type="mstns:RecordID" />
                                            <xs:element name="CancelledRecordDate" type="mstns:dateTimeUTC" />
                                            <xs:element name="CancelledRecordReason" type="mstns:LongString" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:sequence>
                                    <xs:element name="ReplacedRecordID" type="mstns:RecordID" minOccurs="0" />
                                    <xs:element name="PlayerID" type="mstns:PlayerID" />
                                    <xs:element name="Limits" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="LimitCategory">
                                                    <xs:annotation>
                                                        <xs:documentation>Κατηγορία Ορίου Παικτικής Δραστηριότητας:
Η Κατηγορία στην οποία εμπίπτει το όριο παικτικής δραστηριότητας. Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Ημερήσιο Χρονικό Όριο Παικτικής Δραστηριότητας 
(2) = Εβδομαδιαίο Χρονικό Όριο Παικτικής Δραστηριότητας
(3) = Μηνιαίο Χρονικό Όριο Παικτικής Δραστηριότητας 
(4) = Ημερήσιο Χρηματικό Καταθετικό Όριο Παικτικής Δραστηριότητας 
(5) = Εβδομαδιαίο Χρηματικό Καταθετικό Όριο Παικτικής Δραστηριότητας 
(6) = Μηνιαίο Χρηματικό Καταθετικό Όριο Παικτικής Δραστηριότητας
(7) = Ημερήσιο Χρηματικό Όριο Παικτικής Δραστηριότητας Απώλειας Χρημάτων
(8) = Εβδομαδιαίο Χρηματικό Όριο Παικτικής Δραστηριότητας Απώλειας Χρημάτων
(9) = Μηνιαίο Χρηματικό Όριο Παικτικής Δραστηριότητας Απώλειας Χρημάτων
(0) = Άλλο 

Limit Category:
The category of the limit. Values are granted by HGC. Allowed Values:
(1) = Daily time limit
(2) = Weekly time limit
(3) = Monthly time limit
(4) = Daily Deposit limit
(5) = Weekly Deposit limit
(6) = Monthly Deposit limit
(7) = Daily Loss limit
(8) = Weekly Loss limit
(9) = Monthly Loss limit
(0) = Other</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:enumeration value="0" />
                                                            <xs:enumeration value="1" />
                                                            <xs:enumeration value="2" />
                                                            <xs:enumeration value="3" />
                                                            <xs:enumeration value="4" />
                                                            <xs:enumeration value="5" />
                                                            <xs:enumeration value="6" />
                                                            <xs:enumeration value="7" />
                                                            <xs:enumeration value="8" />
                                                            <xs:enumeration value="9" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="GameType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Κατηγορία Παιγνίου στο οποίο εφαρμόζεται το όριο:
Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Παίγνιο Στοιχήματος (Άδεια Τύπου 1) 
(2) = Λοιπά Διαδικτυακά Παίγνια (Άδεια Τύπου 2)
(0) = Εφαρμογή και στους δύο τύπους παιγνίων 

Game Category in which the limit is applied:
Values are granted by HGC. Allowed Values:
(1) = Betting (License Type 1)
(2) = Other Online Game (License Type 2)
(0) = Both
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:enumeration value="0" />
                                                            <xs:enumeration value="1" />
                                                            <xs:enumeration value="2" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="LimitCreationDate" type="mstns:dateTimeUTC">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Δημιουργίας Ορίου Παικτικής Δραστηριότητας:
Η ημερομηνία και ώρα δημιουργίας του ορίου από τον Παίκτη (UTC).

Limit Creation Date:
Date and time the Player set the limit (UTC).
</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="LimitChangeDate" type="mstns:dateTimeUTC" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Αλλαγής Ορίου Παικτικής Δραστηριότητας:
Η ημερομηνία και ώρα αλλαγής του ορίου από τον Παίκτη (UTC).
(εάν υφίσταται)

Limit Set Date:
Date and time the Player changed the limit (UTC).
(if applicable)</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="LimitStartDate" type="mstns:dateTimeUTC">
                                                    <xs:annotation>
                                                        <xs:documentation>Ημερομηνία Έναρξης Ορίου Παικτικής Δραστηριότητας:
Η ημερομηνία και ώρα έναρξης του ορίου (UTC).

Limit Start Date:
Date and time the limit became effective (UTC).
</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:choice>
                                                    <xs:sequence>
                                                        <xs:element name="NewLimitDuration" type="xs:nonNegativeInteger" nillable="true">
                                                            <xs:annotation>
                                                                <xs:documentation>Νέα Χρονική Διάρκεια Ορίου Παικτικής Δραστηριότητας:
Η νέα χρονική διάρκεια (σε ώρες) του ορίου που θέτει ο Παίκτης.
(όταν το πεδίο  "LimitCategory" = 1,2,3)

New Limit Duration:
The new limit duration (in hours) set by the Player.
(when "LimitCategory" = 1,2,3)</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="OldLimitDuration" type="xs:nonNegativeInteger" minOccurs="0">
                                                            <xs:annotation>
                                                                <xs:documentation>Προηγούμενη Χρονική Διάρκεια Ορίου Παικτικής Δραστηριότητας:
Η προηγούμενη χρονική διάρκεια (σε ώρες) του ορίου που έθεσε ο Παίκτης.
(όταν το πεδίο  "LimitCategory" = 1,2,3)

Old Limit Duration:
The old limit duration (in hours) set by the Player.
(when "LimitCategory" = 1,2,3)</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                    <xs:sequence>
                                                        <xs:element name="NewLimitAmount" type="mstns:PositiveMonetaryAmount" nillable="true">
                                                            <xs:annotation>
                                                                <xs:documentation>Νέο Ποσό Ορίου Παικτικής Δραστηριότητας:
Το νέο ποσό του ορίου που θέτει ο Παίκτης.
(όταν το πεδίο  "LimitCategory" = 4,5,6,7,8,9)

New Limit Amount:
The new limit amount set by the Player.
(when "LimitCategory" = 4,5,6,7,8,9)</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="OldLimitAmount" type="mstns:PositiveMonetaryAmount" minOccurs="0">
                                                            <xs:annotation>
                                                                <xs:documentation>Προηγούμενο Ποσό Ορίου Παικτικής Δραστηριότητας:
Το προηγούμενο ποσό του ορίου που έθεσε ο Παίκτης.
(όταν το πεδίο  "LimitCategory" = 4,5,6,7,8,9)

Old Limit Amount:
The old limit amount set by the Player.
(when "LimitCategory" = 4,5,6,7,8,9)</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:choice>
                                                <xs:element name="LimitInitiator">
                                                    <xs:annotation>
                                                        <xs:documentation>Εντολέας Ορίου:
Ο εντολέας που θέτει το όριο. Οι τιμές καθορίζονται από την Ε.Ε.Ε.Π.. Επιτρεπόμενες τιμές:
(1) = Παίκτης
(2) = Κάτοχος Άδειας
(3) = Ε.Ε.Ε.Π.
(0) = Άλλο

Limit Initiator:
The initiator that sets the limit. Values are granted by HGC. Allowed Values:
(1) = Player
(2) = Licensee
(3) = HGC
(0) = Other</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:nonNegativeInteger">
                                                            <xs:enumeration value="0" />
                                                            <xs:enumeration value="1" />
                                                            <xs:enumeration value="2" />
                                                            <xs:enumeration value="3" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="LogInSessionID" type="mstns:LogInSessionID" minOccurs="0" />
                                            </xs:sequence>
                                            <xs:assert test="if (exists(LimitChangeDate)) then (LimitChangeDate ge LimitCreationDate) else if (not(exists(LimitChangeDate))) then true() else false()" />
                                            <xs:assert test="LimitCreationDate le LimitStartDate" />
                                            <xs:assert test="if(LimitCategory ge 1 and LimitCategory le 3) then (exists(NewLimitDuration) and not(exists(NewLimitAmount)) and not(exists(OldLimitAmount))) else if (LimitCategory ge 4 and LimitCategory le 9) then (not(exists(NewLimitDuration)) and not(exists(OldLimitDuration)) and exists(NewLimitAmount)) else if(LimitCategory = 0) then true() else false()" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="UniqueLimitCategory">
                        <xs:selector xpath="mstns:Limits" />
                        <xs:field xpath="mstns:LimitCategory" />
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="UniqueRecord">
            <xs:selector xpath="mstns:Online_Limits" />
            <xs:field xpath="mstns:RecordID" />
        </xs:unique>
    </xs:element>
</xs:schema>